<% provide(:title, 'Home') %>

				<h1 align=center>Sample App</h1>
				<p align=center> This is the home page for the Ruby on Rails Tutorial</p>
				<p align=center>Wazzap bitches this is my first Rails app</p>